<a href="https://colab.research.google.com/github/JuanRoccia/Google-Colab/blob/main/PPA_Trabajo_Pr%C3%A1ctico_N%C2%B03_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Trabajo Práctico 2 - Pandas

## Ejercicio 1
Al finalizar el cursado, el profesor menciona que necesita un dataframe donde quede
registrado el desempeño de sus alumnos. El alumno “A” se ofrece para diseñarlo. El
dataframe deberá consistir de 4 columnas, el nombre del estudiante, su número de legajo, y
las notas de un primer y segundo examen. Generar este dataframe a partir de un diccionario
que contenga datos de 8 estudiantes genéricos.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
alumnos = {
    'Alumnos' : ['Pepe', 'Maria', 'Rockstar' ] ,
    'Legajo'  : [1010  ,  2020  ,  3030      ] ,
    'Nota 1'  : [7     ,  8     ,  4         ] ,
    'Nota 2'  : [6     ,  8     ,  10        ] ,
}

print(type(alumnos))
print(alumnos)

<class 'dict'>
{'Alumnos': ['Pepe', 'Maria', 'Rockstar'], 'Legajo': [1010, 2020, 3030], 'Nota 1': [7, 8, 4], 'Nota 2': [6, 8, 10]}

In [ ]:
registro = pd.DataFrame.from_dict(alumnos)
registro.head(3) # por defecto muestra las primeras 5 filas

    Alumnos  Legajo  Nota 1  Nota 2
0      Pepe    1010       7       6
1     Maria    2020       8       8
2  Rockstar    3030       4      10

In [ ]:
# Esto no va
# columnas = ['Alumno', 'Legajo', 'Nota 1', 'Nota 2']
# registro = pd.DataFrame(columns = columnas)
# registro.head()

## Ejercicio 2
A partir del dataframe diseñado en el ejercicio anterior, agregar una columna con la nota
promedio entre los dos exámenes, y luego ordenarlo desde el mayor al menor promedio.
Generar otros dos dataframes con los alumnos cuyo promedio supere el 60, y otro con los
que no.

In [ ]:
# agregar una columna con la nota promedio
registro['promedio'] = (registro['Nota 1'] + registro['Nota 2'])/2
registro.head()

    Alumnos  Legajo  Nota 1  Nota 2  promedio
0      Pepe    1010       7       6       6.5
1     Maria    2020       8       8       8.0
2  Rockstar    3030       4      10       7.0

In [ ]:
registro.sort_values(by='promedio', ascending=False)

    Alumnos  Legajo  Nota 1  Nota 2  promedio
1     Maria    2020       8       8       8.0
2  Rockstar    3030       4      10       7.0
0      Pepe    1010       7       6       6.5

In [ ]:
# ordenarlo desde el mayor al menor promedio
# registro.sort_values(by='promedio', ascending=False, ignore_index=True)
registro.sort_values(by='promedio', ascending=False, ignore_index=True, inplace=True)
registro.head()

    Alumnos  Legajo  Nota 1  Nota 2  promedio
0     Maria    2020       8       8       8.0
1  Rockstar    3030       4      10       7.0
2      Pepe    1010       7       6       6.5

In [ ]:
print(registro['promedio'] > 7)

0     True
1    False
2    False
Name: promedio, dtype: bool

In [ ]:
# Generar otros dos dataframes con los alumnos cuyo promedio supere el 60, y otro con los que no.
registro_buenosPromedios = registro.loc[registro.promedio > 6.8]
registro_malosPromedios =  registro.loc[registro.promedio < 6.8]

In [ ]:
registro_buenosPromedios.head()

    Alumnos  Legajo  Nota 1  Nota 2  promedio
0     Maria    2020       8       8       8.0
1  Rockstar    3030       4      10       7.0

In [ ]:
registro_malosPromedios.head()

  Alumnos  Legajo  Nota 1  Nota 2  promedio
2    Pepe    1010       7       6       6.5

## Ejercicio 3
Suponer que en la siguiente materia se incorporan 3 nuevos estudiantes, y se retiran los
alumnos que ocupan la posición 1, 6 y 7 en la lista. Escribir el código que permita hacer estos
cambios en las filas del dataframe y reindexar la enumeración acorde. Usar el dataframe
original (sin promedios).

In [ ]:
def agregar_alumno(registro, alumno, legajo, nota1, nota2):
  nuevo_alumno = {
      'Alumnos' :  alumno        ,
      'Legajo'  :  legajo        ,
      'Nota 1'  :  nota1         ,
      'Nota 2'  :  nota2         ,
      'promedio':  (nota1 + nota2)/2             
  }

  return registro.append(nuevo_alumno, ignore_index=True)

In [ ]:
nuevo_registro = agregar_alumno(registro, 'juan', 10101010, 5, 4)
nuevo_registro.head()

    Alumnos    Legajo  Nota 1  Nota 2  promedio
0     Maria      2020       8       8       8.0
1  Rockstar      3030       4      10       7.0
2      Pepe      1010       7       6       6.5
3      juan  10101010       5       4       4.5

In [ ]:
nuevos_alumnos = {
    'Alumnos'     : 'Pepe2',
    'Alumnos'     : 'Maria2',
    'Alumnos'     : 'Rockstar2'
}

In [ ]:
registro.append(nuevos_alumnos, ignore_index=True)

     Alumnos  Legajo  Nota 1  Nota 2  promedio
0      Maria  2020.0     8.0     8.0       8.0
1   Rockstar  3030.0     4.0    10.0       7.0
2       Pepe  1010.0     7.0     6.0       6.5
3  Rockstar2     NaN     NaN     NaN       NaN

## Ejercicio 4
El archivo <a href="https://drive.google.com/file/d/1Mw8YvU9KG0LZ5YEpzsl8-vB0N_kG7ZSa/view?usp=sharing">“nacimientos_muertes_incrementos.csv”</a> contiene información de los nacimientos,
las muertes y el incremento natural desde 1952 hasta 2021, generar un dataframe con sus
datos. Del mismo, eliminar la columna con los incrementos, y generar otros tres dataframes
con los 10 años con más nacimientos, los 10 años con menos muertes, y los años con
menos de 50000 nacimientos. Obtener también el valor medio de nacimientos y muertes en
todo el dataset.

In [ ]:
import pandas as pd

ruta = '/content/'
elemento = 'nacimientos_muertes_incrementos.csv'
df = pd.read_csv(ruta + elemento)
df.head()

   December year  Live births  Deaths  Natural increase
0           1952        51846   18897             32949
1           1953        51888   18354             33534
2           1954        54057   18876             35178
3           1955        55596   19224             36372
4           1956        56532   19698             36834

**Eliminar la columna con los incrementos**

In [ ]:
# eliminar la columna con los incrementos.
df.drop(columns = 'Natural increase', inplace=True)
df.head()

   December year  Live births  Deaths
0           1952        51846   18897
1           1953        51888   18354
2           1954        54057   18876
3           1955        55596   19224
4           1956        56532   19698

***Testeando***

In [ ]:
df_años = pd.DataFrame(df['December year'])
df_años.head()

   December year
0           1952
1           1953
2           1954
3           1955
4           1956

In [ ]:
df_nacim = pd.DataFrame(df['Live births'])
df_nacim.head()

   Live births
0        51846
1        51888
2        54057
3        55596
4        56532

In [ ]:
promedio_nac = df_nacim.mean()
print(promedio_nac)

Live births    58133.914286
dtype: float64

**DataFrame de los 10 años con mas nacimientos**

In [ ]:
# generar dataframe con los 10 años con más nacimientos.
df_top = pd.read_csv(ruta + elemento)
df_top.drop(columns = 'Natural increase', inplace=True)
df_top.drop(columns = 'Deaths', inplace=True)
df_top.sort_values(by='Live births', ascending=False, ignore_index=True, inplace=True)
df_top.head(10)

   December year  Live births
0           1961        65391
1           1962        65013
2           1963        64527
3           1971        64458
4           2008        64341
5           2007        64044
6           2010        63897
7           1972        63216
8           1960        62778
9           2009        62541

**DataFrame de los 10 años con menos muertes**

In [ ]:
# los 10 años con menos muertes.
df_death = pd.read_csv(ruta + elemento)
df_death.drop(columns = 'Natural increase', inplace=True)
df_death.drop(columns = 'Live births', inplace=True)
df_death.sort_values(by='Deaths', ascending=True, ignore_index=True, inplace=True)
df_death.head(10)

   December year  Deaths
0           1953   18354
1           1954   18876
2           1952   18897
3           1955   19224
4           1956   19698
5           1958   20301
6           1957   20862
7           1960   20892
8           1959   21126
9           1961   21780

**DataFrame de los años con menos de 50000 nacimientos**

In [ ]:
# y los años con menos de 50000 nacimientos
df_births = df['Live births'] < 50000
filtered_births_df = df[df_births]
filtered_births_df.head()
# aparentemente hay uno solo

    December year  Live births  Deaths
30           1982        49938   25533

**Obtener también el valor medio de nacimientos en todo el dataset**

In [ ]:
# valor medio de nacimientos
births_mean_df = df['Live births'].mean()
print( f'Promedio: {births_mean_df} ')
births_df = pd.DataFrame(df['Live births'])
births_df.head(7)

Promedio: 58133.91428571429

   Live births
0        51846
1        51888
2        54057
3        55596
4        56532
5        58425
6        60558

**Obtener también el valor medio de muertes en todo el dataset**

In [ ]:
#valor medio de muertes
deaths_mean_df = df['Deaths'].mean()
print( f'Promedio: {deaths_mean_df} ')

# Ubicar en la tabla por index
df.sort_values(by='Deaths', ascending=True, ignore_index=True, inplace=True)
death_mean = pd.DataFrame(df.loc[30:35, 'Deaths']) 
# print(x1, "\n")

# head() ahora esta limitado a los valores de df.loc (o df.ix)
death_mean.head(7)

Promedio: 26217.557142857142

    Deaths
30   25962
31   25992
32   26205
33   26391
34   26532
35   26658

In [ ]:
# info mas detallada sobre el df especificado:
print(df['Deaths'].describe())

count       70.000000
mean     26217.557143
std       3725.131289
min      18354.000000
25%      24348.000000
50%      26595.000000
75%      28214.250000
max      34932.000000
Name: Deaths, dtype: float64

## Ejercicio 5 
Del portal <a href="https://www.datos.gob.ar/">datos.gob.ar</a> obtener el dataset de los precios vigentes del <a href="https://datos.gob.ar/dataset/energia-precios-surtidor---resolucion-3142016/archivo/energia_80ac25de
-a44a-4445-9215-090cf55cfda5">combustible<sup>1</sup></a>. Analizar la información y responder a las siguientes preguntas:<br>
a. ¿Dónde se encuentran los precios más altos? ¿Y los más bajos?<br>
b. ¿Cuál es el valor promedio de cada combustible en Argentina?<br>
c. ¿Qué empresa vende el GNC a menor precio? ¿Dónde se ubica?<br>
d. ¿Cuál es el valor promedio de la Nafta súper en cada provincia?

In [ ]:
import pandas as pd

ruta = '/content/'
elemento = 'precios-en-surtidor-resolucin-3142016.csv'
df = pd.read_csv(ruta + elemento)
df.head()

,indice_tiempo,idempresa,cuit,empresa,direccion,localidad,provincia,region,idproducto,producto,idtipohorario,tipohorario,precio,fecha_vigencia,idempresabandera,empresabandera,latitud,longitud,geojson
0,2022-09,1376,33-64337382-9,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,PAMPEANA,19,Gas Oil Grado 2,2,Diurno,156.80,2022-09-13 14:17:00,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34...."
1,2022-09,1376,33-64337382-9,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,PAMPEANA,19,Gas Oil Grado 2,3,Nocturno,156.80,2022-09-13 14:17:00,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34...."
2,2022-09,1376,33-64337382-9,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,PAMPEANA,21,Gas Oil Grado 3,2,Diurno,219.03,2022-09-05 17:29:00,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34...."
3,2022-09,1376,33-64337382-9,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,PAMPEANA,21,Gas Oil Grado 3,3,Nocturno,219.03,2022-09-05 17:29:00,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34...."
4,2022-09,1376,33-64337382-9,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,PAMPEANA,6,GNC,2,Diurno,63.90,2022-09-05 17:30:00,28,PUMA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34...."

**a. Precios mas altos:**

In [ ]:
# precio mas alto
for x in df['precio']:
    if x == df['precio'].max():
       print(f' {x} es el precio mas alto. ')

 17260.0 es el precio mas alto.

In [ ]:
# precios mas altos y la empresa
df_top_precios = pd.DataFrame(df[['precio','empresa']])
df_top_precios.sort_values(by='precio', ascending=False, ignore_index=True, inplace=True)
df_top_precios.head()

    precio                         empresa
0  17260.0                SERVICIOS LER SA
1  11490.0         JULIO CESAR SANGIULIANO
2   7399.0                         ALOS SA
3    299.0  SUC.MANUEL GARCIA Y OTROS S.H.
4    299.0  SUC.MANUEL GARCIA Y OTROS S.H.

**¿Y los más bajos?**

In [ ]:
# precio mas bajo
for x in df['precio']:
    if x == df['precio'].min():
       print(f' {x} es el precio mas bajo.')
# esta repetido?

 7.0 es el precio mas bajo.
 7.0 es el precio mas bajo.

In [ ]:
# precios mas bajos y la empresa
df_top_precios = pd.DataFrame(df[['precio','empresa']])
df_top_precios.sort_values(by='precio', ascending=True, ignore_index=True, inplace=True)
df_top_precios.head()

   precio                                      empresa
0   7.000              MONTES G-GARGIULO ANTONIO  S.H.
1   7.000              MONTES G-GARGIULO ANTONIO  S.H.
2   7.777                  H Y G L CONSTRUCCIONES S.A.
3   7.777                  H Y G L CONSTRUCCIONES S.A.
4   8.290  COMBUSTIBLES BOULEVARD SETENTA Y DOS S.R.L.

**b. ¿Cuál es el valor promedio de cada combustible en Argentina?**

In [ ]:
# de cada tipo de combustible ?

# valor promedio de todos los combustibles
mean_df = df['precio'].mean()
print( f'Promedio: {mean_df} ')

Promedio: 156.0681668973977

**c. ¿Qué empresa vende el GNC a menor precio? ¿Dónde se ubica?**

In [ ]:
# GNC a menor precio (empresa y ubicacion)
df_top_precios = pd.DataFrame(df[['precio','producto','empresa','region','provincia','localidad','direccion']])
df_top_precios.sort_values(by='precio', ascending=True, ignore_index=True, inplace=True)
# Con esto comprobamos que falta filtrar por GNC:
# df_top_precios = pd.DataFrame(df_top_precios.loc[34220:, 'producto']) 
df_top_precios.head()

,precio,producto,empresa,region,provincia,localidad,direccion
0,7.000,GNC,MONTES G-GARGIULO ANTONIO S.H.,PAMPEANA,BUENOS AIRES,LA PLATA,60 Y 150
1,7.000,GNC,MONTES G-GARGIULO ANTONIO S.H.,PAMPEANA,BUENOS AIRES,LA PLATA,60 Y 150
2,7.777,GNC,H Y G L CONSTRUCCIONES S.A.,PAMPEANA,BUENOS AIRES,CASEROS,Avenida Bme Mitre 4708
3,7.777,GNC,H Y G L CONSTRUCCIONES S.A.,PAMPEANA,BUENOS AIRES,CASEROS,Avenida Bme Mitre 4708
4,8.290,GNC,COMBUSTIBLES BOULEVARD SETENTA Y DOS S.R.L.,PAMPEANA,BUENOS AIRES,LA PLATA,72 1194

In [ ]:
# Asi seria una version correcta filtrada por GNC:
df_GNC = df.loc[df['producto'] == 'GNC']
df_GNC.head()

df_top_GNC = pd.DataFrame(df_GNC[['precio','producto','empresa','region','provincia','localidad','direccion']])
df_top_GNC.sort_values(by='precio', ascending=True, ignore_index=True, inplace=True)
# para asegurar que solo haya productos == GNC:
# df_top_GNC = pd.DataFrame(df_GNC.loc[34220:, 'producto']) 
df_top_GNC.head()

,precio,producto,empresa,region,provincia,localidad,direccion
0,7.000,GNC,MONTES G-GARGIULO ANTONIO S.H.,PAMPEANA,BUENOS AIRES,LA PLATA,60 Y 150
1,7.000,GNC,MONTES G-GARGIULO ANTONIO S.H.,PAMPEANA,BUENOS AIRES,LA PLATA,60 Y 150
2,7.777,GNC,H Y G L CONSTRUCCIONES S.A.,PAMPEANA,BUENOS AIRES,CASEROS,Avenida Bme Mitre 4708
3,7.777,GNC,H Y G L CONSTRUCCIONES S.A.,PAMPEANA,BUENOS AIRES,CASEROS,Avenida Bme Mitre 4708
4,8.290,GNC,COMBUSTIBLES BOULEVARD SETENTA Y DOS S.R.L.,PAMPEANA,BUENOS AIRES,LA PLATA,72 1194

**d. Valor promedio de la Nafta súper en cada provincia**

In [ ]:
df_nafta = df.loc[df['producto'] == 'Nafta (súper) entre 92 y 95 Ron']          # Filtrado por nafta super
df_nafta.head()

mean_nafta_df = df_nafta['precio'].mean()                                       # Promedio de la nafta super
print( f'Promedio: {mean_nafta_df} ')

Promedio: 140.18595917325848

In [ ]:
mean_nafta_df = pd.DataFrame(df_nafta[['precio','producto','provincia']])       # DataFrame de precio, producto y provincia con el filtro de "df_nafta"
mean_nafta_df.head()

    precio                         producto     provincia
8    147.4  Nafta (súper) entre 92 y 95 Ron  BUENOS AIRES
9    147.4  Nafta (súper) entre 92 y 95 Ron  BUENOS AIRES
16   109.2  Nafta (súper) entre 92 y 95 Ron        CHUBUT
17   109.2  Nafta (súper) entre 92 y 95 Ron        CHUBUT
24   155.6  Nafta (súper) entre 92 y 95 Ron  BUENOS AIRES

In [ ]:
provincia = mean_nafta_df.loc[df['provincia'] == 'ENTRE RIOS']                # Cambiando este parametro vemos el promedio de las diferentes provincias
# buenosAires = mean_nafta_df.loc[df['producto'] == 'Nafta (súper) entre 92 y 95 Ron']
df_buenosAires = pd.DataFrame(provincia[['precio','producto','provincia']])   # DataFrame de precio, producto y provincia con ambos filtros de "provincia" y "df_nafta"
df_buenosAires.head()                                                         # No entiendo bien si realmente esta tomando el promedio y por que ¡?

     precio                         producto   provincia
74    145.9  Nafta (súper) entre 92 y 95 Ron  ENTRE RIOS
75    145.9  Nafta (súper) entre 92 y 95 Ron  ENTRE RIOS
118   150.1  Nafta (súper) entre 92 y 95 Ron  ENTRE RIOS
119   150.1  Nafta (súper) entre 92 y 95 Ron  ENTRE RIOS
614   145.9  Nafta (súper) entre 92 y 95 Ron  ENTRE RIOS

## Ejercicio 6
El <a href="https://datos.gob.ar/dataset/produccion-porcentaje-mujeres-por-provincia-sector-actividad/archivo/produccion_07874c24-6f5d-45e1-bae0-dd0ec001500b">dataset<sup>2</sup></a>, también obtenido de <a href="https://www.datos.gob.ar/">datos.gob.ar</a> contiene el porcentaje de puestos ocupados por mujeres en cada provincia, mensualmente, desde el año 2013 hasta el 2021. Analizar la información y obtener los siguientes datos:<br>
a. Año con el mayor porcentaje de mujeres ocupadas.<br>
b. Provincia con mayor porcentaje de mujeres ocupadas a lo largo de todos los años.<br>
&nbsp;&nbsp;&nbsp;&nbsp;¿Cuál es la provincia que le sigue en la lista?<br>
c. Mes del año que mayor ocupación posee, en promedio.<br>
d. ¿En qué casos la ocupación superó el 50% de ocupación? ¿Y el 40%

In [ ]:
import pandas as pd

ruta = '/content/'
elemento = 'share_mujer_todos.csv'
df = pd.read_csv(ruta + elemento)
df.head()

        fecha        zona_prov  share_mujer
0  2013-01-01     BUENOS AIRES     0.396839
1  2013-01-01  CAPITAL FEDERAL     0.405973
2  2013-01-01        CATAMARCA     0.387500
3  2013-01-01            CHACO     0.396491
4  2013-01-01           CHUBUT     0.363042

**a. Año con el mayor porcentaje de mujeres ocupadas.**

In [ ]:
mayorPorcentaje = pd.read_csv(ruta + elemento)
mayorPorcentaje.sort_values(by='share_mujer', ascending=False, ignore_index=True, inplace=True)
mayorPorcentaje.head()

        fecha zona_prov  share_mujer
0  2020-03-01     CHACO     0.445126
1  2019-12-01     CHACO     0.445041
2  2021-09-01  LA PAMPA     0.444698
3  2020-02-01     CHACO     0.444633
4  2020-01-01     CHACO     0.444060

2020 es el año con mayor porcentaje de mujeres ocupadas.

**b. Provincia con mayor porcentaje de mujeres ocupadas a lo largo de todos los años.**<br>&nbsp;&nbsp;&nbsp;&nbsp;¿Cuál es la provincia que le sigue en la lista?<br><br>

Chaco es la provincia con mayor porcentaje de mujeres ocupadas y La Pampa es la provincia que le sigue.

**c. Mes del año que mayor ocupación posee, en promedio.**

In [ ]:
share_mujer_promedio = df['share_mujer'].mean()
print( f'Promedio: {share_mujer_promedio} ')

# mesPromedio = df.loc[df['share_mujer'] == share_mujer_promedio]

df.sort_values(by='share_mujer', ascending=True, ignore_index=True, inplace=True)
mesPromedio = pd.DataFrame(df.loc[990:])
mesPromedio.head()

Promedio: 0.38930630361356927

          fecha zona_prov  share_mujer
990  2015-05-01     SALTA     0.389572
991  2019-11-01     SALTA     0.389595
992  2020-07-01  MISIONES     0.389614
993  2017-10-01     SALTA     0.389616
994  2016-10-01     SALTA     0.389623

992 2020-07-01 MISIONES ?¿ 0.389614 es el mas cercano al promedio

In [ ]:
# Ahora si casi seguro que es este el mas cercano al promedio
# si el promedio de toda la ocupacion  de mujeres es "share_mujer_promedio"
# entonces el mas cercano a ese promedio va a ser la fecha con mas ocupacion en promedio.
df['share_mujer'] = df['share_mujer'].astype(str)
mesPromedio = df[df['share_mujer'].str.startswith("0.38930")]
# mesPromedio.dtypes
mesPromedio.head()

          fecha zona_prov share_mujer
979  2016-07-01   MENDOZA  0.38930362

**d. ¿En qué casos la ocupación superó el 50% de ocupación? ¿Y el 40%**

In [ ]:
df['share_mujer'] = df['share_mujer'].astype(str)
ocupacion50 = df[df['share_mujer'].str.startswith("0.44")] # cambiando este parametro al 50% no se encuentra nada.
ocupacion50.head(10)
# Casos en que supero el 40%:

           fecha zona_prov share_mujer
2706  2019-11-01     CHACO  0.44351566
2707  2020-01-01     CHACO   0.4440603
2708  2020-02-01     CHACO  0.44463295
2709  2021-09-01  LA PAMPA  0.44469762
2710  2019-12-01     CHACO  0.44504061
2711  2020-03-01     CHACO  0.44512558

Casos en que la ocupacion supero el 50% = 0

# Otra forma de filtrar busquedas

In [ ]:
provincias = df.groupby('zona_prov')['share_mujer'].mean()
provincias.head()

zona_prov
BUENOS AIRES       0.405184
CAPITAL FEDERAL    0.410664
CATAMARCA          0.395907
CHACO              0.413318
CHUBUT             0.379282
Name: share_mujer, dtype: float64